@use "../abstracts/mixins" as *;

.accommodation {
  margin: 40px 100px;

  @include mobile-only {
    margin: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include mobile-only {
      flex-direction: column;
      align-items: inherit;
    }
  }

  &__title {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
    margin: 10px 0;

    @include mobile-only {
      font-size: 18px;
    }
  }

  &__location {
    color: #FF6060;
    font-size: 18px;

    @include mobile-only {
      font-size: 14px;
    }
  }

  &__tags {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 0;

    @include mobile-only {
      margin-top: 10px;
    }

    li {
      background-color: #FF6060;
      color: white;
      border-radius: 10px;
      font-size: 14px;
      padding: 5px 30px;

      @include mobile-only {
        font-size: 10px;
        border-radius: 5px;
        padding: 5px 15px;
      }
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile-only {
      margin-top: 10px;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__informations {
      display: flex;
      gap: 20px;

      @include mobile-only {
        gap: 10px;
      }
    }

    &__name {
      color: #FF6060;
      font-size: 18px;

      @include mobile-only {
        font-size: 12px;
      }
    }

    &__picture img {
      border-radius: 70px;
      width: 64px;
      height: 64px;

      @include mobile-only {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__collapse {
    display: flex;
    gap: 100px;
    align-items: baseline;

    @include mobile-only {
      flex-direction: column;
      gap: 0;
    }

    &__collapse {
      font-size: 18px;
      width: 582px;
      list-style-type: none;

      @include mobile-only {
        width: 335px;
        font-size: 12px;
      }
    }
  }
}

.ratings {
  font-size: 50px;

  @include mobile-only {
    font-size: 20px;
  }
}

