@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.error__container {
  color: $color-primary;
  margin-bottom: 185px;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 288px;
    margin: 100px 0 0 0;

    @include mobile-only {
      font-size: 96px;
      margin-top: 200px;
    }

    @include tablet-only {
      font-size: 150px;
    }
  }

  p {
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 120px;

    @include mobile-only {
      font-size: 18px;
      margin: 15px 30px;
    }

    @include tablet-only {
      font-size: 25px;
    }
  }

  a {
    font-weight: 500;
    font-size: 18px;
    color: $color-primary;

    @include mobile-only {
      font-size: 14px;
    }
  }
}