@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.star {
  margin-left: 7px;

  @include mobile-only {
    margin-right: 5px;
    margin-left: 0;
  }

  @include tablet-only {
    margin-left: 0;
  }
}

.fullstar {
  color: $color-primary;
}

.emptystar {
  color: $color-tertiary;
}