@use "../abstracts/mixins" as *;

.star {
  margin-left: 7px;

  @include mobile-only {
    margin-right: 5px;
    margin-left: 0;
  }

  @include tablet-only {
    margin-left: 0;
  }
}

.fullstar {
  color: #FF6060;
}

.emptystar {
  color: #E5E5E5;
}