@use "../abstracts/mixins" as *;

.slideshow {
  position: relative;

  @include mobile-only {
    height: 255px;
    margin: 10px auto;
  }

  &__images {

  }

  img {
    border-style: none;
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    animation: loading-image 500ms ease-in;
    transition: 100ms;

    @include mobile-only {
      height: 255px;
      border-radius: 10px;
    }
  }

  &__bulletpoint {
    position: absolute;
    left: 620px;
    color: white;
    font-size: 18px;
    bottom: 35px;

    @include mobile-only {
      left: 150px;
      display: none;
    }

    @include tablet-only {
      left: 365px;
    }
  }
  }

  .left-arrow {
    position: absolute;
    left:5px;
  }

  .right-arrow {
    position: absolute;
    right:5px;
  }

.arrow {
  top: 150px;
  font-size: 100px;
  color: white;

  @include mobile-only {
    font-size: 30px;
    top: 110px;
  }

  @include tablet-only {
    font-size: 70px;
    top: 185px;
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes loading-image {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}