.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-top: 50px;
  margin-top: 50px;

  &__logo {
    width: 122px;
    height: 39px;
  }

    &__copyright {
      padding-top: 20px;
      padding-bottom: 10px;
      color: white;
    }
}