.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px;
  font-size: 24px;

    &__logo {
      width: 210px;
      height: 68px;
    }

    &__menu {
      margin-left: 50px;
      color: #FF6060;
      text-decoration: none;

      &:active {
        text-decoration: #FF6060 underline;
      }

      &:hover {
        text-decoration: #FF6060 underline;
      }
    }
}