@use "../abstracts/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px 0;
  font-size: 24px;

  @include mobile-only {
    margin: 20px 10px;
    font-size: 12px;
  }

  @include tablet-only {
    margin: 40px 50px 0;
  }

    &__logo {
      width: 210px;
      height: 68px;
      margin: 0;

      @include mobile-only {
        width: 145px;
        height: 47px;
      }
    }

  a {
    margin-left: 35px;
    margin-right: 30px;
    font-weight: 500;
    color: #FF6060;
    text-decoration: none;

    @include mobile-only {
      margin-left: 10px;
      margin-right: 10px;
      text-transform: uppercase;
    }

  }

  .active {
    text-decoration: underline;
  }
}